@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f2ecec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
 
}
@theme {
  --font-rethink: var(--font-rethink);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7dfec;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* globals.css */
.home-content {
  /* padding: 1.2rem; */
  max-width: 100%;
  margin-inline: auto;
  transition: padding 0.3s ease, max-width 0.3s ease;
 

  /* background-color: red; */
  
}

/* Full screen state — sidebar closed, container is wide */
@container page (min-width: 1300px) {
  .home-content {
    /* padding: 4rem 8rem; */
    max-width: 1400px;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
  }
}

/* Sidebar-open state — container is narrower, so this rule just won't match */
@container page (max-width: 1299px) {
  .home-content {
    /* padding: 1.5rem 1rem; */
    max-width: 100%; 
    /* background-color: red; */
  }
}
/* Sidebar-open state — container is narrower, so this rule just won't match */

.content-full {
  /* padding: 1.5rem 1rem; */
  margin-left: 150px;
  /* background-color: red; */
}

@container page (max-width: 1299px) {
  .content-full {
    /* padding: 1.5rem 1rem; */
    margin-left: 0px;
    /* background-color: red; */
  }
}